{% load tn2 humanize %}

<dl id="comments">
  {% for comment in comment_list %}
    <dt>
      <a name="c{{ comment.id }}"></a>
      {% if forloop.last %}
      <a name="last-comment"></a>
      {% endif %}
      <img class="avatar" src="{{ comment.user|avatar_big_url }}" />
      <div class="title">
          {{ comment.user|user_link }} ({{ comment.submit_date|naturaltime }})
          {% if comment.user == user %}
          <a class="fa fa-edit" href="{% url 'comment_edit' comment.id %}"></a>
          {% endif %}
      </div>
    </dt>
    <dd>
      <div class="content">{{ comment.comment|safe }}</div>
    </dd>
  {% endfor %}
</dl>

