django>=1.11,<1.11.9999
django-ckeditor>=5.2
bleach>=2.0
Pillow>=4.1
easy-thumbnails>=2.4
libsass>=0.12
psycopg2>=2.5
django-user-accounts>=2.0
django-post_office>=2.0
beautifulsoup4>=4.5

# to support WP password hashes
django-hashers-passlib>=0.3

# for captchas
django-simple-captcha>=0.5
num2words>=0.5.4
