{% extends 'base.html' %}

{% block main_contents %}
<h1>Modifier une discussion</h1>
<form class="discussion" action="{% url 'discussion_edit' group_slug=discussion.group.slug discussion_slug=discussion.slug %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="button" type="submit" value="Modifier la discussion" />
    <a href="{{ discussion.get_absolute_url }}">Retour</a>
    {% if view.object.can_delete %}
    <input class="button delete-button" type="submit" name="delete" value="Supprimer" />
    {% endif %}
</form>
{% endblock %}

{% block bottom_js %}
{% include 'include/ckjs.html' %}
{% endblock %}

