{% extends 'base.html' %}

{% block extra_head %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block main_contents %}
<h1>Ré-initialisation de mot de passe</h1>
{% if validlink %}
  <p>Veuillez entrer votre nouveau mot de passe:</p>
  <form method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Enregistrer" />
  </form>
{% else %}
  La réinitialisation de mot de passe a échoué. Veuillez
  <a href="{% url 'auth_password_reset' %}">ré-essayer.</a>
{% endif %}
{% endblock %}

