{% extends 'base_article.html' %}
{% load tn2 %}

{% block bodyclasses %}article{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% if user.is_staff %}
    <a class="button" href="{% url 'admin:tn2app_article_change' article.id %}">Administrer</a>
    {% endif %}
{% endblock %}

{% block inner_content %}
<div class="overline">
<h2>{{ article.title }}</h2>
</div>
<p>
    {% include 'include/article_meta_line.html' %}
</p>
{{ article.get_content|safe }}

<h2 id="comments">Commentaires</h2>
{% include 'comments/tn2app/list.html' with comment_list=article.comments.all %}

{% if user.is_authenticated %}
    {% include 'include/add_comment_form.html' with target=article %}
{% endif %}
{% endblock %}

{% block bottom_js %}
{% if user.is_authenticated %}
{% include 'include/ckjs.html' %}
{% endif %}
{% endblock %}
