{% extends 'base_article.html' %}
{% load comments tn2 %}

{% block bodyclasses %}article{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'homepage' %}">Accueil</a>&nbsp;&gt;&nbsp;
    <a href="{% url 'article_list' %}">Blog</a>&nbsp;&gt;&nbsp;
    {{ article.title }}
    {% if user.is_staff %}
    <a class="button" href="{% url 'admin:tn2app_article_change' article.id %}">Administrer</a>
    {% endif %}
{% endblock %}

{% block inner_content %}
<div class="overline">
<h2>{{ article.title }}</h2>
</div>
<p>
    {% include 'include/article_meta_line.html' %}
</p>
{{ article.content|safe }}

<h2 id="comments">Commentaires</h2>
{% render_comment_list for article %}

{% if user.is_authenticated %}
    {% include 'include/add_comment_form.html' with ref_object=article %}
{% endif %}
{% endblock %}

{% block bottom_js %}
{% if user.is_authenticated %}
{% include 'include/ckjs.html' %}
{% endif %}
{% endblock %}
