{% load pipeline %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% stylesheet 'main' %}
    </head>
    <body>
        <div class="header">
            <div class="fullwidth">
                <ul>
                    <li><a href="{% url 'homepage' %}">Accueil</a></li>
                    <li><a>La galerie</a></li>
                    <li><a>Le blog</a></li>
                    <li><a href="{% url 'discussion_groups' %}">Les groupes</a></li>
                    {% if user.is_authenticated %}
                    <li class="right dropdown">
                        <a href="#" class="dropbtn">{{ user }}</a>
                        <div class="dropdown-content">
                            {% if can_write_article %}
                            <a href="{% url 'article_add' %}">Écrire un article</a>
                            {% endif %}
                            <a href="{% url 'account_logout' %}">Déconnexion</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="right"><a href="{% url 'account_signup' %}">Inscription</a></li>
                    <li class="right"><a href="{% url 'account_login' %}">Connexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="main_contents fullwidth">
        {% block main_contents %}
        {% endblock %}
        </div>

        {% block bottom_js %}
        {% endblock %}
    </body>
</html>

