{% extends 'base.html' %}
{% load tn2 %}

{% block bodyclasses %}user-profile{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% if shown_user == user or user.is_staff %}
        <a class="button" href="{% url 'user_profile_edit' username=shown_user.username %}">Modifier</a>
    {% endif %}
{% endblock %}

{% block main_contents %}
<div class="inner-content">
<img class="img-avatar-big" src="{{ shown_user|avatar_big_url }}"/>
<div class="overline username-title">
<h1>{{ shown_user.profile.display_name }}</h1>
</div>
<ul class="profile-sub-menu selector blue-links">
    <li><a class="{% block class_for_profile_link %}{% endblock %}" href="{% url 'user_profile' username=shown_user.username %}">Projets</a></li>
    <li><a class="{% block class_for_favorite_link %}{% endblock %}" href="{% url 'user_favorites' username=shown_user.username %}">Favoris</a></li>
    <li><a class="{% block class_for_message_link %}{% endblock %}" href="{% url 'user_sendmessage' username=shown_user.username %}">Contacter</a></li>
    {% if shown_user == user %}
        <li><a class="{% block class_for_password_link %}{% endblock %}" href="{% url 'account_password' %}">Mot de passe</a></li>
        <li><a class="{% block class_for_notification_link %}{% endblock %}" href="{% url 'user_notifications' %}">Notifications</a></li>
    {% endif %}
</ul>

{% block inner_content %}
{% endblock %}
</div>

<div class="sidebar">
    <div class="overline">
        <h4>A propos de moi</h4>
    </div>
    <div class="aproposdemoi">
        <div class="bio">
            {{ shown_user.profile.description|safe }}
        </div>
        <dl>
            <dt>Pseudo</dt><dd>{{ shown_user.profile.display_name|default:"-" }}</dd>
            <dt>Ville</dt><dd>{{ shown_user.profile.city|default:"-" }}</dd>
            <dt>Site web</dt>
            <dd>
            {% with shown_user.profile.website as w %}
            {% if w %}
            <a href="{{ w }}" target="_blank">{{ w }}</a>
            {% else %}
            -
            {% endif %}
            {% endwith %}
            </dd>
            <dt>Niveau</dt><dd>{{ shown_user.profile.skill_level|default:"-" }}</dd>
            <dt>MAC</dt><dd>{{ shown_user.profile.sewing_machine|default:"-" }}</dd>
        </dl>
    </div>

    <div class="overline">
        <h4>Mes stats</h4>
    </div>

    <div class="stats">
        <ul class="selector with-lines">
            <li>
                {% with count=shown_user.projects.count %}
                <span>{{ count }}</span> projet{{ count|pluralize }} publié{{ count|pluralize }}
                {% endwith %}
            </li>
            <li>
                {% with count=shown_user.favorite_projects.count %}
                <span>{{ count }}</span> projet{{ count|pluralize }} favori{{ count|pluralize }}
                {% endwith %}
            </li>
    </div>
</div>
{% endblock %}
