{% extends 'base.html' %}
{% load tn2 %}

{% block bodyclasses %}user-profile{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% if shown_user == user or user.is_staff %}
        <a class="button" href="{% url 'user_profile_edit' username=shown_user.username %}">Modifier</a>
    {% endif %}
{% endblock %}

{% block main_contents %}
<div class="inner-content">
<img class="img-avatar-big" src="{{ shown_user|avatar_big_url }}"/>
<div class="overline username-title">
<h1>{{ shown_user.profile.display_name }}</h1>
</div>
<ul class="profile-sub-menu selector">
    <li><a class="{% block class_for_profile_link %}{% endblock %}" href="{% url 'user_profile' username=shown_user.username %}">Projets</a></li>
    <li><a class="{% block class_for_favorite_link %}{% endblock %}" href="{% url 'user_favorites' username=shown_user.username %}">Favoris</a></li>
    <li><a class="{% block class_for_message_link %}{% endblock %}" href="{% url 'user_sendmessage' username=shown_user.username %}">Contacter</a></li>
</ul>

{% block inner_content %}
{% endblock %}
</div>

<div class="sidebar">
    <div class="overline">
        <h4>A propos de moi</h4>
    </div>
    <div class="aproposdemoi">
        <p class="bio">
            {{ shown_user.profile.description|safe }}
        </p>
        <dl>
            <dt>Pseudo</dt><dd>{{ shown_user.profile.display_name|default:"-" }}</dd>
            <dt>Ville</dt><dd>{{ shown_user.profile.city|default:"-" }}</dd>
            <dt>Site web</dt><dd>{{ shown_user.profile.website|urlize|default:"-" }}</dd>
            <dt>Niveau</dt><dd>{{ shown_user.profile.skill_level|default:"-" }}</dd>
            <dt>MAC</dt><dd>{{ shown_user.profile.sewing_machine|default:"-" }}</dd>
        </dl>
    </div>
</div>
{% endblock %}
