{% load pipeline staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Puritan' rel='stylesheet' type='text/css'>
        {% stylesheet 'main' %}
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
    </head>
    <body class="{% block bodyclasses %}{% endblock %}">
        <div class="header">
            <div class="fullwidth">
                <ul>
                    <li><a href="{% url 'homepage' %}">Accueil</a></li>
                    <li><a href="{% url 'project_list' %}">La galerie</a></li>
                    <li><a href="{% url 'article_list' %}">Le blog</a></li>
                    <li><a href="{% url 'discussion_groups' %}">Les groupes</a></li>
                    {% if user.is_authenticated %}
                    <li class="right dropdown">
                        <a href="#" class="dropbtn">{{ user }}</a>
                        <div class="dropdown-content">
                            <a href="{% url 'user_profile' username=user.username %}">Mon profil</a>
                            <a href="{% url 'project_create' username=user.username %}">Publier un projet</a>
                            {% if user.is_staff %}
                            <a href="{% url 'admin:index' %}">Administration</a>
                            {% endif %}
                            <a href="{% url 'account_logout' %}">Déconnexion</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="right"><a href="{% url 'account_signup' %}">Inscription</a></li>
                    <li class="right"><a href="{% url 'account_login' %}">Connexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="subheader">
            <div class="fullwidth">
                <a href="{% url 'homepage' %}">
                    <img src="{% static 'images/tn-logo.png' %}"/>
                </a>
                {% if user.is_authenticated %}
                <div class="rightmost">
                    <a class="button publier-projet" href="{% url 'project_create' username=user.username %}">Publier un projet</a>
                    <form name="search" method="get" action="{% url 'search' %}">
                        <input name="q" autocomplete="on" placeholder="Recherche" type="text"/>
                        <button class="fa fa-search search-button" type="submit"/>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="main_contents fullwidth">
        <p>
        {% block breadcrumb %}
            <a href="{% url 'homepage' %}">Accueil</a>
            {% with breadcrumb=view.breadcrumb %}
            {% for item in breadcrumb %}
            &nbsp;&gt;&nbsp;
            {% if item.0 %}
                <a href="{{ item.0 }}">{{ item.1 }}</a>
            {% else %}
                {{ item.1 }}
            {% endif %}
            {% endfor %}
            {% endwith %}
        {% endblock %}
        </p>

        {% block main_contents %}
        {% endblock %}
        </div>

        <div class="footer-margin"></div>
        <div class="footer">
            <div class="fullwidth">
                <div class="column">
                    <h3>Thread&amp;Needles</h3>
                    <p>
                        Notre but ? Rassembler les passionnés de DIY francophones au travers d'un
                        espace commun.
                    </p>
                    <p>
                        <a href="http://www.hellocoton.fr/mapage/threadandneedles" rel="nofollow" title="Notre page Hellocoton"><img src="{% static 'images/hellocoton.png' %}" /></a>&nbsp;
                        <a href="https://twitter.com/#!/threadneedlesfr" rel="nofollow" title="Suivez-nous sur twitter"><img src="{% static 'images/twitter.png' %}" /></a>&nbsp;
                        <a href="https://www.facebook.com/pages/ThreadNeedles/121145491299220" rel="nofollow" title="Rejoignez-nous sur Facebook"><img src="{% static 'images/facebook.png' %}" /></a>&nbsp;
                        <a href="/feed/" target="_blank" title="Flux RSS du blog"><img src="{% static 'images/rss.png' %}" /></a>
                    </p>
                </div>
                <div class="column rightalign">
                    <h4>Création</h4>
                    <ul>
                        <li><a href="{% url 'article_list' %}">Le blog thread&amp;needles</a></li>
                        <li><a href="{% url 'article' slug='7771-les-trouvailles-de-la-semaine-le-sommaire' %}">Les trouvailles du net</a></li>
                        <li><a href="{% url 'project_list' %}">La galerie des projets</a></li>
                        <li><a href="{% url 'project_list' %}?type=populaires">Les projets populaires</a></li>
                    </ul>
                </div>
                <div class="column rightalign">
                    <h4>Communauté</h4>
                    <ul>
                        <li><a href="{% url 'discussion_groups' %}">Les groupes</a></li>
                        <li><a href="{% url 'category' slug='needlenaute-du-mois' %}">Le needlenaute du mois</a></li>
                    </ul>
                </div>
                <div class="column rightalign">
                    <h4>Aide et support</h4>
                    <ul>
                        <li><a href="{% url 'page_a-propos' %}">A propos de nous</a></li>
                        <li><a href="{% url 'page_cgu' %}">Règlement / CGU</a></li>
                        <li><a href="{% url 'page_foire-aux-questions' %}">Foire Aux Questions</a></li>
                        <li><a href="{% url 'page_presse' %}">Parler de T&N</a></li>
                        <li><a href="{% url 'page_sponsors' %}">Sponsors / Publicité</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <script type="text/javascript" src="{% static "js/global.js" %}"></script>
        {% block bottom_js %}
        {% endblock %}
    </body>
</html>

