{% extends 'base.html' %}

{% block main_contents %}
<p>
{% block breadcrumb %}{% endblock %}
</p>

<div class="inner-content">
{% block inner_content %}{% endblock %}
</div>

<div class="sidebar">
    <div class="categories">
        <div class="overline">
            <h4>Catégories</h4>
        </div>
        <ul class="selector with-lines">
            {% with active_category=view.active_category %}
            {% for cat in view.featured_categories.all %}
            <li>
                <a
                    {% if active_category == cat %}class="active"{% endif %}
                    href="{% url 'category' slug=cat.slug %}">
                    {{ cat.title }}
                </a>
            </li>
            {% endfor %}
            {% endwith %}
        </ul>
    </div>
</div>
{% endblock %}


