{% load pipeline staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% stylesheet 'main' %}
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
    </head>
    <body class="{% block bodyclasses %}{% endblock %}">
        <div class="header">
            <div class="fullwidth">
                <ul>
                    <li><a href="{% url 'homepage' %}">Accueil</a></li>
                    <li><a href="{% url 'project_list' %}">La galerie</a></li>
                    <li><a href="{% url 'article_list' %}">Le blog</a></li>
                    <li><a href="{% url 'discussion_groups' %}">Les groupes</a></li>
                    {% if user.is_authenticated %}
                    <li class="right dropdown">
                        <a href="#" class="dropbtn">{{ user }}</a>
                        <div class="dropdown-content">
                            <a href="{% url 'user_profile' username=user.username %}">Mon profil</a>
                            <a href="{% url 'project_create' username=user.username %}">Publier un projet</a>
                            {% if user.is_staff %}
                            <a href="{% url 'admin:index' %}">Administration</a>
                            {% endif %}
                            <a href="{% url 'account_logout' %}">Déconnexion</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="right"><a href="{% url 'account_signup' %}">Inscription</a></li>
                    <li class="right"><a href="{% url 'account_login' %}">Connexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="subheader">
            <div class="fullwidth">
                <a href="{% url 'homepage' %}">
                    <img src="{% static 'images/tn-logo.png' %}"/>
                </a>
                {% if user.is_authenticated %}
                <a class="button publier-projet" href="{% url 'project_create' username=user.username %}">Publier un projet</a>
                <form name="search" method="get" action="{% url 'search_article' %}">
                    <input name="q" autocomplete="on" placeholder="Recherche" type="text"/>
                    <button class="fa fa-search" type="submit"/>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="main_contents fullwidth">
        {% block main_contents %}
        {% endblock %}
        </div>

        {% block bottom_js %}
        {% endblock %}
    </body>
</html>

