{% extends 'base.html' %}
{% load humanize tn2 %}

{% block main_contents %}
<h1>Groupes de discussion</h1>
<ul class="group-list">
{% for group in groups %}
    <li>
        <a href="{{ group.get_absolute_url }}">
            <img src="{{ group|group_avatar_url }}"/>
        </a>
        <div class="item">
            <div class="title">
                <a href="{{ group.get_absolute_url }}">{{ group.title }}</a>
                {% if group.private %}
                <span class="fa fa-lock"></span>
                {% endif %}
                <span class="activity">{{ group.last_activity|naturaltime }}</span>
            </div>
            <p>{{ group.description|striptags|truncatewords:20 }}</p>
        </div>
        <div class="clear"></div>
    </li>
{% endfor %}
</ul>
{% endblock %}
