{% extends 'base.html' %}
{% load comments tn2 %}

{% block breadcrumb %}
    {{ block.super }}
    {% if user.is_staff %}
    <a class="button" href="{% url 'admin:tn2app_discussion_change' discussion.id %}">Administrer</a>
    {% endif %}
{% endblock %}

{% block main_contents %}
<h1>{{ discussion.title }}</h1>
{% include 'include/pagination.html' %}

{% if not page_obj.has_previous %}
<p>
    <img src="{{ discussion.author|avatar_url }}" />
    <em>Par <a href="{{ discussion.author.profile.get_absolute_url }}">{{ discussion.author }}</a> le {{ discussion.creation_time }}</em>
    {% if discussion.author == user %}
    <a class="fa fa-edit" href="{% url 'discussion_edit' group_slug=discussion.group.slug discussion_slug=discussion.slug %}"></a>
    {% endif %}
</p>
{{ discussion.content|safe }}
{% endif %}

{% include 'comments/tn2app/list.html' with comment_list=page_obj %}

{% include 'include/pagination.html' %}

{% if user.is_authenticated %}
    {% include 'include/add_comment_form.html' with ref_object=discussion %}
{% endif %}
{% endblock %}

{% block bottom_js %}
{% include 'include/ckjs.html' %}
{% endblock %}
