{% extends 'base.html' %}
{% load humanize tn2 staticfiles %}

{% block main_contents %}
<div class="inner-content">
    <div class="overline">
        <h4>Groupes d'entraide</h4>
    </div>
    <div class="groups-top-directory">
        {% for group in featured_groups %}
            <div class="bloc-groupe">
                <a href="{{ group.get_absolute_url }}">
                    <img src="{{ group|group_avatar_big_url }}"/>
                </a>
                <div class="group-titre">
                    <a href="{{ group.get_absolute_url }}">{{ group.title }}</a>
                </div>
                <p>{{ group.description_short }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="overline">
        <h4>Groupes thématiques</h4>
    </div>
    <ul class="group-list">
    {% for group in groups %}
        <li>
            <a href="{{ group.get_absolute_url }}">
                <img src="{{ group|group_avatar_url }}"/>
            </a>
            <div class="item">
                <div class="title">
                    <a href="{{ group.get_absolute_url }}">{{ group.title }}</a>
                    {% if group.private %}
                    <span class="fa fa-lock"></span>
                    {% endif %}
                    <span class="activity">{{ group.last_activity|naturaltime }}</span>
                </div>
                <p>{{ group.description|striptags|truncatewords:20 }}</p>
            </div>
            <div class="clear"></div>
        </li>
    {% endfor %}
    </ul>
</div>

<div class="sidebar">
    <div class="groupes_geo">
        <div class="overline">
            <h4>Groupes géographiques</h4>
        </div>
        <img src="{% static 'images/carte-france.jpg' %}"/>
        <p>
            Envie de rencontrer des needlenautes de votre région et de partager adresses et bons plans ?
        </p>
        <select class="open-url-on-select">
            <option>Choisissez une région</option>
            {% for group in geo_groups %}
            <option value="{{ group.slug }}" data-url="{{ group.get_absolute_url }}">{{ group.title }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

{% block bottom_js %}
<script type="text/javascript" src="{% static "js/groups.js" %}"></script>
{% endblock %}
