{% extends 'base.html' %}
{% load humanize %}

{% block main_contents %}
<p>
    <a href="{% url 'homepage' %}">Accueil</a>&nbsp;&gt;&nbsp;
    <a href="{% url 'discussion_groups' %}">Groupes</a>&nbsp;&gt;&nbsp;
</p>
<h1>{{ group.title }}</h1>
<table>
<thead>
    <tr><td>Sujet</td><td>Dernier message</td></tr>
</thead>
<tbody>
{% for discussion in discussions %}
    <tr>
        <td><a href="{{ discussion.get_absolute_url }}">{{ discussion.title }}</a></td>
        <td>{{ discussion.last_activity|naturaltime }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% if user.is_authenticated %}
<p>
<a class="button" href="{% url 'discussion_add' group_slug=group.slug %}">Créer une nouvelle discussion</a>
</p>
{% endif %}
{% endblock %}

