{% extends 'base.html' %}
{% load humanize tn2 %}

{% block bodyclasses %}group-detail{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% if user.is_staff %}
    <a class="button" href="{% url 'admin:tn2app_discussiongroup_change' group.id %}">Administrer</a>
    {% endif %}
{% endblock %}

{% block main_contents %}
<div class="page-title">
    <img src="{{ group|group_avatar_url }}"/>
    <div class="overline">
        <h1>{{ group.title_display }}</h1>
    </div>
    <div class="clear"></div>
    <p class="desc">{{ group.description|safe }}</p>
</div>

<div class="overline">
    <h4>Discussions</h4>
</div>

{% include "include/pagination.html" %}
<table class="discussion-list">
<thead>
    <tr><td>Sujet</td><td></td><td>Dernier message</td></tr>
</thead>
<tbody>
{% for discussion in page_obj %}
    <tr>
        <td><a href="{{ discussion.get_absolute_url }}">{{ discussion.title }}</a></td>
        <td>
            {% if discussion.last_poster %}
            <img class="avatar" src="{{ discussion.last_poster|avatar_url }}"/>
            {% endif %}
        </td>
        <td>{{ discussion.last_activity|naturaltime }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% include "include/pagination.html" %}
{% if user.is_authenticated %}
<p>
<a class="button" href="{% url 'discussion_add' group_slug=group.slug %}">Créer une nouvelle discussion</a>
</p>
{% endif %}
{% endblock %}

