{% extends 'base.html' %}
{% load comments %}

{% block main_contents %}
<p>
    <a href="{% url 'homepage' %}">Accueil</a>&nbsp;&gt;&nbsp;
    <a href="{% url 'discussion_groups' %}">Groupes</a>&nbsp;&gt;&nbsp;
    <a href="{{ discussion.group.get_absolute_url }}">{{ discussion.group.title }}</a>
</p>
<h1>{{ discussion.title }}</h1>
<p><em>Par {{ discussion.author }}</em></p>
{{ discussion.content|safe }}

{% render_comment_list for discussion %}

{% if user.is_authenticated %}
    <h2>Répondre</h2>
    {% get_comment_form for discussion as form %}
    <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{{ discussion.get_absolute_url }}" />
    <input type="submit" value="Envoyer" />
    </form>
{% endif %}
{% endblock %}


