{% extends 'base.html' %}
{% load thumbnail humanize tn2 %}

{% block bodyclasses %}homepage{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block main_contents %}
    <h2>Site en construction</h2>
    <p>
        Ce site est en construction. Vous pouvez joindre la discussion sur cette construction
        dans <a href="{% url 'discussion_groups' %}">les groupes</a>.
    </p>
    <div class="overline">
        <h4>Les articles</h4>
    </div>
    <ol class="threeitems">
        {% for article in articles %}
        <li>
            <a href="{{ article.get_absolute_url }}">
                <img src="{{ article.main_image|thumbnail_url:'preview' }}"/>
                <h5>{{ article.title }}</h5>
            </a>
            {% if article.subtitle %}<p>{{ article.subtitle }}</p>{% endif %}
        </li>
        {% endfor %}
    </ol>
    <hr>

    <div class="col_left featured-projects">
        <div class="overline">
            <h4>Les projets à la Une</h4>
            <a class="rightmost" href="{% url 'project_list' %}">Voir tous les projets</a>
        </div>
        {% for project in featured_projects.all|slice:":3" %}
        <a href="{{ project.get_absolute_url }}">
            <img src="{{ project.image1|thumbnail_url:'project-list' }}"/>
        </a>
        {% endfor %}
    </div>

    <div class="col_right">
        <div class="overline">
            <h4>En un clic...</h4>
        </div>
        <ul class="acces_rapide">
            <li>
                <a href="{% url 'category' slug='techniques-tutos' %}">Tous les tutos en images</a>
            </li>
            <li>
                <a href="{% url 'category' slug='tuto-video' %}">Toutes les vidéos</a>
            </li>
            <li>
                <a href="{% url 'category' slug='interview' %}">Toutes les interviews</a>
            </li>
        </ul>
    </div>

    <div class="col_left">
        <div class="overline">
            <h4>Récemment dans les groupes</h4>
            <a class="rightmost" href="{% url 'discussion_groups' %}">Voir tous les groupes</a>
        </div>
        {% include 'include/discussion_ul.html' with discussions=recent_discussions only %}
    </div>

    <div class="col_right latest-projects">
        <div class="overline">
            <h4>Nouveaux projets</h4>
        </div>
        <div class="popular">
        {% for project in popular_projects.all|slice:":3" %}
        <a href="{{ project.get_absolute_url }}">
            <img src="{{ project.image1|thumbnail_url:'project-list' }}"/>
        </a>
        {% endfor %}
        </div>
        <div class="new">
        {% for project in latest_projects.all|slice:":20" %}
        <a href="{{ project.get_absolute_url }}">
            <img src="{{ project.image1|thumbnail_url:'project-list' }}"/>
        </a>
        {% endfor %}
        </div>
    </div>
{% endblock %}
