{% extends 'base.html' %}
{% load thumbnail humanize tn2 %}

{% block main_contents %}
    <h2>Site en construction</h2>
    <p>
        Ce site est en construction. Vous pouvez joindre la discussion sur cette construction
        dans <a href="{% url 'discussion_groups' %}">les groupes</a>.
    </p>
    <div class="overline">
        <h4>Les articles</h4>
    </div>
    <ol class="threeitems">
        {% for article in articles %}
        <li>
            <a href="{{ article.get_absolute_url }}">
                <img src="{{ article.main_image|thumbnail_url:'preview' }}"/>
                <p>{{ article.title }}</p>
            </a>
        </li>
        {% endfor %}
    </ol>
    <hr>

    <div class="col_left project-list">
        <div class="overline">
            <h4>Les projets à la Une</h4>
        </div>
        {% for project in featured_projects %}
        <a href="{{ project.get_absolute_url }}">
            <img src="{{ project.image1|thumbnail_url:'project-list' }}"/>
        </a>
        {% endfor %}
    </div>

    <div class="col_left">
        <div class="overline">
            <h4>Récemment dans les groupes</h4>
        </div>
        <ul class="group-list">
        {% for discussion in recent_discussions %}
            <li>
                <a href="{{ discussion.get_absolute_url }}">
                    <img src="{{ discussion.group|group_avatar_url }}"/>
                </a>
                <div class="title">
                    <a href="{{ discussion.get_absolute_url }}">
                        {{ discussion.title }}
                    </a>
                </div>
                <p>
                    dans le groupe "{{ discussion.group.title }}"
                    <br>
                    dernier message par
                    {{ discussion.last_poster|user_link }}
                    {{ discussion.last_activity|naturaltime }}
                </p>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
