{% extends 'base.html' %}
{% load tn2 thumbnail add_get_parameter %}

{% block main_contents %}
<div class="inner-content">
{% include "include/pagination.html" %}

<ul class="project-list">
{% for project in project_list %}
<li>
<a href="{{ project.get_absolute_url }}">
    <img src="{{ project.image1|thumbnail_url:'project-list' }}"/>
</a>
</li>
{% endfor %}
</ul>

{% include "include/pagination.html" %}
</div>

<div class="sidebar">
    {% include 'include/title.html' with text="Voir..." %}
    <ul class="selector with-lines">
        <li>
            <a
                {% if view.active_order == 'latest' %}class="active"{% endif %}
                href="{% add_get order='latest' page=1 %}">
                Les derniers projets publiés
            </a>
        </li>
        <li>
            <a
                {% if view.active_order == 'popular' %}class="active"{% endif %}
                href="{% add_get order='popular' page=1 %}">
                Les projets les plus populaires
            </a>
        </li>
        <li>
            <a
                {% if view.active_order == 'random' %}class="active"{% endif %}
                href="{% add_get order='random' page=1 %}">
                Projets au hasard
            </a>
        </li>
    </ul>

    {% include 'include/title.html' with text="Trier par catégorie" %}

    {% with active_category=view.active_category %}
    <ul class="selector with-lines two-columns">
        <li>
            <a
                {% if not active_category %}class="active"{% endif %}
                href="{% add_get category='' page=1 %}">
                Tous les projets
            </a>
        </li>
        <li>&nbsp;</li>
        {% for cat in view.categories.all %}
        <li>
            <a
                {% if active_category == cat %}class="active"{% endif %}
                href="{% add_get category=cat.id page=1 %}">
                {{ cat.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endwith %}
</div>
{% endblock %}


