{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block main_contents %}
<h1>Publier un projet</h1>
<form class="newproject" action="{% url 'project_create' username=user.username %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="button" type="submit" value="Publier" />
</form>
{% endblock %}

{% block bottom_js %}
{% include 'include/ckjs.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="{% static "js/project_edit.js" %}"></script>
{% endblock %}

