{% extends 'base.html' %}

{% block main_contents %}
<p>
    <a href="{% url 'homepage' %}">Accueil</a>&nbsp;&gt;&nbsp;
    {{ user }}
</p>
<h1>Profil de {{ user }}</h1>
<table>
<tbody>
    <tr><td><strong>Pseudo</strong></td><td>{{ user.profile.display_name }}</td></tr>
    <tr><td><strong>Qui suis-je?</strong></td><td>{{ user.profile.description }}</td></tr>
    <tr><td><strong>Ville</strong></td><td>{{ user.profile.city }}</td></tr>
    <tr><td><strong>Site web</strong></td><td><a href="{{ user.profile.website }}">{{ user.profile.website }}</a></td></tr>
    <tr><td><strong>Niveau</strong></td><td>{{ user.profile.skill_level }}</td></tr>
    <tr><td><strong>MAC</strong></td><td>{{ user.profile.sewing_machine }}</td></tr>
</tbody>
</table>
{% endblock %}

