div.article-preview {
    position: relative;

    img {
        float: left;
        width: 270px;
        height: 180px;
    }

    p.readmore {
        position: absolute;
        margin: 0;
        bottom: 0;
        right: 0;
        font-weight: bold;

        a {
            text-decoration: none;
        }
    }
}

body.article-list,body.article {
    p.metaline {
        margin-top: 0;
        margin-bottom: 30px;
        color: #999999;

        a {
            color: inherit;
            text-decoration: underline;
        }
    }

    ul.acces_rapide {
        margin: 0;
        padding-left: 0;
        list-style: none outside none;

        a {
            display: block;
            font-size: 0.9rem;
            padding: 14px 0 14px 45px;
            margin-bottom: 5px;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 4px;
            color: white;
            background: url("#{$images_path}/polas.png") 14px 51% no-repeat #cccccc;

            &:hover {
                background-color: $red_highlight;
            }
        }
    }
}

body.article-list {
    div.article-preview {
        margin-bottom: 60px;

        div.overline {
            margin-bottom: 5px;
        }
    }

    img.article-main-image {
        margin-right: 20px;
    }
}

body.article {
    div.inner-content {
        div.overline:first-of-type {
            margin-bottom: 5px;
        }

        p, li {
            line-height: 18px;
        }

        p {
            margin-bottom: 15px;
            text-align: justify;
        }
    }

    div.author-bio {
        background-color: #eeeeee;
        padding: 10px;
        margin: 40px 0;

        a {
            color: #777777;
            text-decoration: underline;
        }

        img {
            float: left;
            margin-right: 10px;
        }

        h5 {
            margin-bottom: 6px;

            a {
                color: inherit;
            }
        }

        p {
            margin-top: 0;
            margin-bottom: 6px;
        }
    }

    h3 {
        font-size: 18px;
        line-height: 22px;
        color: $text-color-pink;
    }

    h3, h6 {
        a {
            color: inherit;
            background-color: $bg-link-funky;
        }
    }

    .alignleft {
        float: left;
        margin-right: 12px;
        margin-bottom: 4px;
    }

    .aligncenter {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .alignright {
        float: right;
        margin-left: 12px;
        margin-bottom: 4px;
    }

}
