ol.threeitems {
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
        list-style: none;
        width: 290px;

        img {
            width: 288px;
            height: 192px;
            margin-bottom: 4px;

        }

        h5 {
            color: $red_highlight;
            font-size: 18px;
        }

        p {
            margin-top: 4px;
        }
    }
}

body.homepage {
    div.col_left {
        float:left;
        width: 600px;
    }

    div.col_right {
        float: right;
        width: 270px;
    }

    hr {
        clear: both;
        margin: 30px 0;
    }

    div.break {
        width: 100%;
        height: 50px;
        clear: both;
    }

    ul.acces_rapide {
        a {
            padding: 17px 0 17px 45px;
            margin-bottom: 8px;
        }
    }

    div.featured-projects ul.project-list {
        img {
            margin: 0 25px 7px 0;
        }

        p.overlay {
            padding: 0 10px;
        }

        li:last-child img {
            margin-right: 0;
        }
    }

    div.latest-projects {
        div.popular {
            img {
                width: 80px;
                height: 80px;
                margin: 0 7px 7px 0;
            }
        }

        div.new {
            img {
                width: 45px;
                height: 45px;
                margin: 0 5px 4px 0;
            }
        }
    }

    ul.group-list {
        border-top: 1px solid $thin_sep_line_color;
    }

    hr {
        background: url("#{$images_path}/bg-stripes-light.gif") 0 0 repeat-x;
        clear: both;
        height: 10px;
        border: none;
    }

}

