/*
This stuff is taken straight from the legacy website and used as-is because there are other
priorities than working on this. We probably want to get rid of it some day and replace it with
better styling.
*/

/* --- Global --- */

.overline {
    background: url("#{$images_path}/bg-stripes-light.gif") 0 70% repeat-x;
    padding: 0px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    clear: both;

    h1, h2, h3, h4, h5, h6 {
        display: inline;
        background-color: white;
        padding-right: 5px;

        a {
            color: $heading_color;
        }
    }

    a.rightmost {
        float: right;
        color: #999999;
        padding: 6px 0 2px 5px;
        background-color: white;
    }
}

hr {
    background: url("#{$images_path}/bg-stripes-light.gif") 0 0 repeat-x;
    clear: both;
    height: 10px;
    border: none;
}

ul.acces_rapide {
    margin: 0;
    padding-left: 0;
    list-style: none outside none;

    a {
        display: block;
        font-size: 0.9rem;
        padding: 14px 0 14px 45px;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 4px;
        color: white;
        background: url("#{$images_path}/polas.png") 14px 51% no-repeat #cccccc;

        &:hover {
            background-color: $red_highlight;
        }
    }
}

/* --- Specific --- */

.project_overtitle {
    margin-bottom: 30px;

    span {
        display: block;
        padding: 13px 0 2px 5px;
        float: right;
        background-color: white;
        color: #cccccc;
        font-size: 28px;
    }

    h1 {
        display: inline;
        padding-right: 5px;
        background-color: white;
    }
}

div.groups-top-directory {
    width: 740px;

    div.bloc-groupe {
        float: left;
        width: 150px;
        padding-right: 90px;
        margin-bottom: 30px;
    }
}
