body.signup, body.login {
    div.floatright {
        float: right;
        width: 400px;
    }

    p.smallprint {
        font-size: 0.9rem;
        width: 400px;
        line-height: 1.3em;
    }
}
