Source: tn2
Section: devel
Priority: extra
Maintainer: Virgil Dupras <hsoft@hardcoded.net>
Build-Depends: debhelper (>=9), python3-dev, python3-venv, sassc, python3-wheel
Standards-Version: 4.1.0
Homepage: https://www.threadandneedles.fr/

Package: tn2
Architecture: any
Depends: python3, python3-psycopg2, python3-pil
Description: tn2

