body.article {
    h3 {
        font-size: 18px;
        line-height: 22px;
        color: $text-color-pink;
    }

    h3, h6 {
        a {
            color: inherit;
            background-color: $bg-link-funky;
        }
    }

    .alignleft {
        float: left;
        margin-right: 12px;
        margin-bottom: 4px;
    }

    .aligncenter {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .alignright {
        float: right;
        margin-left: 12px;
        margin-bottom: 4px;
    }

}
