body.article {
    h3 {
        font-size: 18px;
        line-height: 22px;
        color: $text-color-pink;
    }

    h3, h6 {
        a {
            color: inherit;
            background-color: $bg-link-funky;
        }
    }
}
