body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: white;
    color: $text-color;
    line-height: 17px;
}

a {
    text-decoration: none;
    color: $text-color-link;
    outline: none;

    &:hover {
        color: $red_highlight;
    }
}

a.fa {
    color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Puritan', arial, serif;
    font-weight: normal;
    font-variant: normal;
    white-space: normal;
    color: $heading-color;
    margin: 0;
}

h1 {
    font-size: 32px;
    line-height: 38px;
}

h2 {
    font-size: 26px;
    line-height: 30px;
}

h3 {
    font-size: 22px;
    line-height: 26px;
}

h4 {
    font-size: 20px;
    line-height: 25px;
}

h5 {
    font-size: 16px;
    line-height: 21px;
}

.button {
    background: $red_highlight;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    &, &:link, &:visited {
        color: $pink_button_text_color;
    }
}

.delete-button {
    background: red;
    float: right;
}

.rightalign {
    text-align: right;
}

.rightfloat {
    float: right;
    margin-left: 12px;
    margin-bottom: 4px;
}

.red {
    color: $red-highlight;
}

.hidden {
    display: none;
}

.pagination {
    span.nav-info {
        margin-left: 5px;
        margin-right: 5px;
    }

    a {
        font-weight: bold;
    }
}

p.breadcrumb {
    font-size: 11px;
    margin-bottom: 30px;

    a {
        color: $text-color;
    }
}

ul.selector {
    list-style: none outside none;
    margin: 0 0 10px 0;
    padding: 0;

    li {
        padding: 4px 0;

        a {
            color: inherit;

            &.active {
                font-weight: bold;
                color: $heading_color;
            }
        }
    }
}

ul.with-lines {
    border-top: 1px solid $thin_sep_line_color;

    li {
        border-bottom: 1px solid $thin_sep_line_color;
    }
}

ul.blue-links {
    li a {
        color: $text-color-link;
        font-weight: bold;
    }
}

div.sidebar ul.two-columns {
    overflow: hidden;

    li {
        float: left;
        width: 125px;
    }
}

label.required:after {content: " *"; color: red;}

.fullwidth {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.clear {
    clear: both;
}

div.inner-content {
    width: 630px;
    float: left;
}

div.sidebar {
    width: 250px;
    float: right;

    > div {
        margin-bottom: 25px;
    }

    div.overline {
        margin-bottom: 15px;
    }
}

img.img-avatar-big {
    width: 60px;
    height: 60px;
}

div.bio {
    padding: 1px 10px;
    background-color: #eeeeee;
    font-size: 11px;
}

a.page-edit-link {
    float:right;
}

div.socialactions {
    color: #cccccc;
    font-family: 'Lobster';
    font-size: 32px;
    height: 50px;
    line-height: 50px;
    margin: 0 0 40px 0;

    img {
        float: right;
        margin: 0 0 0 10px;
    }
}
