/*
This stuff is taken straight from the legacy website and used as-is because there are other
priorities than working on this. We probably want to get rid of it some day and replace it with
better styling.
*/

.project_actions {
    height: 25px;
    margin: 7px 0 35px 0;

    div {
        float: left;
        margin-right: 10px;
        padding-left: 6px;

        a {
            display: block;
            padding-left: 20px;
        }
    }

    .vote a {
        background: url("#{$images_path}/favourite.png") 0 0 no-repeat;
    }

    .vote a.active {
        background: url("#{$images_path}/favourite_on.png") 0 0 no-repeat;
    }
}

.project_overtitle {
    margin-bottom: 30px;

    span {
        display: block;
        padding: 5px 0 2px 5px;
        float: right;
        background-color: white;
        color: #cccccc;
        font-size: 28px;
    }

    h1 {
        display: inline;
        padding-right: 5px;
        background-color: white;
    }
}

div.groups-top-directory {
    width: 740px;

    div.bloc-groupe {
        float: left;
        width: 150px;
        padding-right: 90px;
        margin-bottom: 30px;
    }
}

ul.group-list {
    padding: 0;
    margin: 0;
    list-style: none outside none;

    li {
        margin-bottom: 40px;
    }

    img {
        float: left;
        margin-right: 18px;
    }

    .activity {
        display: block;
    }
}

.groupes_geo {
    img {
        display: block;
        margin: auto;
    }
}

.bouton {
    display: block;
    border-radius: 3px;
    background: url("#{$images_path}/white-grad.png") repeat-x scroll left top transparent;
    border: 1px solid $button_border_color;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    padding: 3px 8px;
    vertical-align: bottom;

    a {
        color: $button_text_color;
    }
}

.overline {
    background: url("#{$images_path}/bg-stripes-light.gif") 0 70% repeat-x;
    padding: 0px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    clear: both;

    h4 {
        display: inline;
        background-color: white;
        padding-right: 5px;
    }
}

hr {
    background: url("#{$images_path}/bg-stripes-light.gif") 0 0 repeat-x;
    clear: both;
    height: 10px;
    border: none;
}
