.project-list {
    a {
        text-decoration: none;
    }
}

div.project-author {
    img {
        float: left;
    }
}

body.project {
    img.project-image-preview {
        cursor: pointer;
    }
}
