body.user-profile {
    img.img-avatar-big {
        float: left;
        margin-bottom: 30px;
    }

    div.username-title {
        /* div.overline usually has clear: both, but we don't want that here */
        clear: none;
        margin-left: 70px;
        /* Allow enough space for the sub-menu below to be next to the avatar */
        margin-bottom: 5px;
        width: auto;
    }

    ul.profile-sub-menu {
        list-style: none;
        margin: 0;
        margin-left: 70px;
        padding: 0;

        li {
            float: left;
            margin-right: 10px;
        }
    }

    .aproposdemoi {
        dl {
            width: 100%;
            overflow: hidden;
            padding: 0;
            margin: 10px 0;

            dt, dd {
                float: left;
                padding: 0;
                margin: 0;
                margin-bottom: 10px;
            }

            dt {
                font-weight: bold;
                width: 30%;
            }

            dd {
                width: 70%;
            }
        }
    }

    ul.project-list {
        margin-bottom: 20px;
    }

    div.pagination {
        // same trick as in project-list
        float: right;
    }

    div.stats ul {
        li {
            padding: 8px 6px;

            span {
                font-weight: bold;
                display: inline-block;
                width: 52px;
            }
        }
    }

}
