$text_color: #777777;
$text_light: #e3e3e3;
$heading_color: black;
$bg_dark: #847676;
$logo_bg_color: #f7f7f7;
$red_highlight: #d92e69;
$pink_button_text_color: #eeeeee;
$button_border_color: #dddddd;
$button_text_color: #777777;

$images_path: "../images";
