$text_light: #e3e3e3;
$bg_dark: #847676;

body {
    font-family: Arial, Helvetica, sans-serif;
}

div.header {
    ul {
        display: block;
        list-style: none;
        font-weight: bold;
        text-transform: uppercase;
        background-color: $bg_dark;
        color: $text_light;

        li {
            display: inline;
        }
        li.right {
            float: right;
        }
    }
}
