@import 'normalize';
@import 'variables';
@import 'legacy';

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.fullwidth {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.clear {
    clear: both;
}

// This is a field that is automatically added by django-contrib-comments.
// It has to be invisible.
#id_honeypot {
    display: none;
}

h1 {
    font-size: 32px;
    line-height: 38px;
}

div.header {
    background-color: $bg_dark;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-weight: bold;
        text-transform: uppercase;
        color: $text_light;

        li {
            float: left;

            a {
                display: block;
                text-decoration: none;
                padding: 14px 16px;
            }
            a:visited, a:link {
                color: $text_light;
            }
        }
        li.right {
            float: right;
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: $bg_dark;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

ol.threeitems {
    padding: 0;

    li {
        list-style: none;
        float: left;
        margin-right: 44px;
        width: 290px;

        &:last-child {
            margin-right: 0px;
        }

        img {
            width: 288px;
            height: 192px;
            margin-bottom: 4px;

        }

        a {
            color: $red_highlight;
            text-decoration: none;
            font-size: 14pt;
        }
    }
}

form p {
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 8px;
    }

    input, select {
        display: block;
    }

    .helptext {
        display: block;
        margin-top: 8px;
    }
}

form.userprofile {
    input[name="display_name"], input[name="city"], input[name="website"], input[name="sewing_machine"] {
        width: 300px;
    }
}

form.newproject {
    input[type="text"], input[type="url"] {
        width: 80%;
    }
}

form.loginform {
    p label {
        display: inline-block;
        width: 150px;
    }
}

form.signupform {
    p label {
        display: inline-block;
        width: 200px;
    }
}

.button {
    background: $red_highlight;
    text-decoration: none;
    font-size: 11pt;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px 6px;
    border-radius: 4px;
    border: none;

    &, &:link, &:visited {
        color: $pink_button_text_color;
    }
}

#comments {
    dt {
        font-style: italic;
        border-top: dotted 1px;
        padding-top: 8px;
    }

    dd {
        // Remove default 40px margin of dd elements.
        margin-left: 0;
    }
}

// don't decorate links with font awesome glyphs, it's ugly
a.fa {
    text-decoration: none;
    color: $text-color;
}

div.article-preview {
    position: relative;

    img {
        float: left;
        width: 270px;
        height: 180px;
    }

    p.readmore {
        position: absolute;
        margin: 0;
        bottom: 0;
        right: 0;

        a {
            text-decoration: none;
        }
    }
}

div.inner-content {
    width: 630px;
    float: left;
}

div.sidebar {
    width: 250px;
    float: right;
}

div.project-author {
    img {
        float: left;
    }
}

img.img-avatar-big {
    width: 60px;
    height: 60px;
}
