#!/bin/bash

ENV_PATH="%ENV_PATH%"
if [[ -z ${ENV_PATH} ]]; then
    PYTHON=python
else
    PYTHON="${ENV_PATH}/bin/python"
fi
export TN2_CONF_PATH="%CONF_PATH%"

if [[ ! -f "${TN2_CONF_PATH}" ]]; then
    echo "${TN2_CONF_PATH} config file doesn't exist! You can copy it from install/conf.json.example"
    exit 1
fi

cd "%SRCDIR_PATH%"
${PYTHON} manage.py $@
